@model Pandorga_Admin.Models.Evento

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Você tem certeza que deseja excluir o registro abaixo?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turma.NomeTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir" class="btn btn-danger mt-3">
            <i class="bi bi-trash-fill"></i>
        </button>
        <a class="btn btn-secondary mt-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Voltar" asp-action="Index"><i class="bi bi-arrow-counterclockwise"></i></a>
    </form>
</div>
